/jack.c
/jack.cmod.compiled
/jack_config.h
/jack_config.h.in
/Makefile
/build_type
/config.log
/config.status
/configure
/dependencies
/make_variables
/propagated_variables
/stamp-h
/stamp-h.in
/testsuite
/config.h.in
